@model MbaDevXpertBlog.Mvc.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Editar Post</h1>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="AutorId" />
                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Conteudo" class="control-label"></label>
                        <input asp-for="Conteudo" class="form-control" />
                        <span asp-validation-for="Conteudo" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="DateCreated" />
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-warning">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
   

