@using static MbaDevXpertBlog.Mvc.Helpers.NavigationIndicatorHelper;

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <i class="nav-icon fas fa-blog"></i>
        <span class="brand-text font-weight-light"><b>MBA DevXpert</b> Blog</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Olá, @User.Identity.Name</a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Olá, Visitante</a>
                </div>
            </div>
        }
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class ="nav-header">Home</li>
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-blog"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                <li class="nav-header">Meu Blog</li>
                <li class="nav-item ">
                    <a asp-controller="Autores" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-user-pen"></i>
                        <p>
                            Meu Autor
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                        <a asp-controller="Posts" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-clipboard"></i>
                        <p>
                            Meus Posts
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Comentarios" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-comment"></i>
                        <p>
                            Meus Comentarios
                        </p>
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                <li class="nav-header">Painel Administrativo</li>
                    <li class="nav-item ">
                        <a asp-controller="Autores" asp-action="IndexAll" class="nav-link">
                            <i class="nav-icon fas fa-user-pen"></i>
                            <p>
                                Todos Autores
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Posts" asp-action="IndexAll" class="nav-link">
                            <i class="nav-icon fas fa-clipboard"></i>
                            <p>
                                Todos Posts
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Comentarios" asp-action="IndexAll" class="nav-link">
                            <i class="nav-icon fas fa-comment"></i>
                            <p>
                                Todos Comentários
                            </p>
                        </a>
                    </li>
                    }
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>